[user]
	name = Bryan Richter
	email = b@chreekat.net
[credential]
	helper = cache --timeout=3600
[color]
	ui = auto
[alias]
	lg = log --oneline --graph --decorate --all
	st = status --short
	d = diff
	dc = diff --cached
	quicksave = commit -am "Blah"
	lp = log -p
	ci = commit
	root = rev-parse --show-toplevel
[rebase]
	autosquash = true
[core]
	excludesfile = ~/.cvsignore
[merge]
	tool = vimdiff
[color "decorate"]
	branch = green
	remoteBranch = 14
	HEAD = 4
	tag = 6

[color "diff"]
	meta = 13 bold
	commit = 12 reverse

# vim: set noet :
