irssi/away.log
irssi/sasl.auth
mutt/aliases
mutt/certificates
mutt/mailboxes.rc
mutt/subscriptions
ncmpcpp/error.log
newsbeuter/cache.db*
newsbeuter/history.*
newsbeuter/urls
offlineimap/Account*
offlineimap/lock
offlineimap/pid
offlineimap/Repository*
vim/bundle
vim/.netrwhist
vim/undos
vim/view
weechat/logs
weechat/sec.conf
weechat/slack.cache
w3m/*
weechat/weechat.log
vim/autoload/plug.vim.old
vim/spell
xmonad/xmonad.errors
xmonad/xmonad-x86_64-linux
