vim/bundle
vim/.netrwhist
irssi/sasl.auth
irssi/away.log
ncmpcpp/error.log
newsbeuter/urls
newsbeuter/cache.db*
newsbeuter/history.*
offlineimap/Account*
offlineimap/Repository*
offlineimap/lock
offlineimap/pid
vim/undos
w3m/*
