[submodule "mutt/lunatic-mutt"]
	path = mutt/lunatic-mutt
	url = git@github.com:chreekat/lunatic-mutt.git
[submodule "vim/pack/ALL/start/undotree"]
	path = vim/pack/ALL/start/undotree
	url = git://github.com/mbbill/undotree.git
[submodule "vim/pack/ALL/start/html5.vim"]
	path = vim/pack/ALL/start/html5.vim
	url = git://github.com/othree/html5.vim.git
[submodule "vim/pack/ALL/start/vim-abolish"]
	path = vim/pack/ALL/start/abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule "vim/pack/ALL/start/vim-eunuch"]
	path = vim/pack/ALL/start/eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/pack/ALL/start/vim-flagship"]
	path = vim/pack/ALL/start/flagship
	url = git://github.com/tpope/vim-flagship.git
[submodule "vim/pack/ALL/start/vim-obsession"]
	path = vim/pack/ALL/start/obsession
	url = git://github.com/tpope/vim-obsession.git
[submodule "vim/pack/ALL/start/goyo-doc"]
	path = vim/pack/ALL/start/goyo-doc
	url = git://github.com/ultimatecoder/goyo-doc.git
[submodule "vim/pack/ALL/start/VisIncr"]
	path = vim/pack/ALL/start/VisIncr
	url = git://github.com/vim-scripts/VisIncr.git
[submodule "vim/pack/ALL/start/goyo.vim"]
	path = vim/pack/ALL/start/goyo.vim
	url = git://github.com/junegunn/goyo.vim.git
[submodule "vim/pack/ALL/start/NrrwRgn"]
	path = vim/pack/ALL/start/NrrwRgn
	url = git://github.com/chrisbra/NrrwRgn.git
[submodule "vim/pack/ALL/start/vim-coffee-script"]
	path = vim/pack/ALL/start/coffee-script
	url = https://github.com/kchmck/vim-coffee-script
[submodule "vim/pack/ALL/start/vimin"]
	path = vim/pack/ALL/start/vimin
	url = git@github.com:chreekat/vimin.git
[submodule "vim/pack/ALL/start/Apprentice"]
	path = vim/pack/ALL/start/Apprentice
	url = https://github.com/romainl/Apprentice
[submodule "vim/pack/ALL/start/vim-fugitive"]
	path = vim/pack/ALL/start/fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/pack/ALL/start/pgsql.vim"]
	path = vim/pack/ALL/start/pgsql.vim
	url = https://github.com/exu/pgsql.vim
[submodule "vim/pack/ALL/start/vim-repeat"]
	path = vim/pack/ALL/start/repeat
	url = https://github.com/tpope/vim-repeat/
[submodule "vim/pack/ALL/start/gfm-syntax"]
	path = vim/pack/ALL/start/gfm-syntax
	url = https://github.com/rhysd/vim-gfm-syntax
[submodule "vim/pack/ALL/start/ledger"]
	path = vim/pack/ALL/start/ledger
	url = https://github.com/ledger/vim-ledger
[submodule "vim/pack/ALL/start/traces"]
	path = vim/pack/ALL/start/traces
	url = https://github.com/markonm/traces.vim
[submodule "vim/pack/ALL/start/projectionist"]
	path = vim/pack/ALL/start/projectionist
	url = https://github.com/tpope/vim-projectionist
[submodule "vim/pack/ALL/start/vim-characterize"]
	path = vim/pack/ALL/start/characterize
	url = https://github.com/tpope/vim-characterize
