.vim/bundle
.vim/.VimballRecord
.vim/.netrwhist
.ssh
.irssi/sasl.auth
.irssi/away.log
.ncmpcpp/error.log
.newsbeuter/urls
.newsbeuter/cache.db*
.newsbeuter/history.*
.offlineimap/Account*
.offlineimap/Repository*
.offlineimap/lock
.offlineimap/pid
.gnupg
