[user]
	name = Bryan Richter
	email = bryan.richter@gmail.com
[credential]
	helper = cache --timeout=3600
[color]
	ui = auto
[alias]
	lg = log --oneline --graph --decorate
	st = status --short
[rebase]
	autosquash = true
