[submodule "mutt/lunatic-mutt"]
	path = mutt/lunatic-mutt
	url = git@github.com:chreekat/lunatic-mutt.git
[submodule "vim/pack/ALL/start/undotree"]
	path = vim/pack/start/start/undotree
	url = git@github.com:mbbill/undotree.git
[submodule "vim/pack/ALL/start/html5.vim"]
	path = vim/pack/start/start/html5.vim
	url = git@github.com:othree/html5.vim.git
[submodule "vim/pack/ALL/start/vim-abolish"]
	path = vim/pack/start/start/abolish
	url = git@github.com:tpope/vim-abolish.git
[submodule "vim/pack/ALL/start/vim-eunuch"]
	path = vim/pack/start/start/eunuch
	url = git@github.com:tpope/vim-eunuch.git
[submodule "vim/pack/ALL/start/vim-flagship"]
	path = vim/pack/start/start/flagship
	url = git@github.com:tpope/vim-flagship.git
[submodule "vim/pack/ALL/start/vim-obsession"]
	path = vim/pack/start/start/obsession
	url = git@github.com:tpope/vim-obsession.git
[submodule "vim/pack/ALL/start/VisIncr"]
	path = vim/pack/start/start/VisIncr
	url = git@github.com:vim-scripts/VisIncr.git
[submodule "vim/pack/ALL/start/goyo.vim"]
	path = vim/pack/start/start/goyo.vim
	url = git@github.com:junegunn/goyo.vim.git
[submodule "vim/pack/ALL/start/NrrwRgn"]
	path = vim/pack/start/start/NrrwRgn
	url = git@github.com:chrisbra/NrrwRgn.git
[submodule "vim/pack/ALL/start/vim-coffee-script"]
	path = vim/pack/start/start/coffee-script
	url = git@github.com:kchmck/vim-coffee-script
[submodule "vim/pack/ALL/start/vimin"]
	path = vim/pack/start/start/vimin
	url = git@github.com:chreekat/vimin.git
[submodule "vim/pack/ALL/start/Apprentice"]
	path = vim/pack/start/start/Apprentice
	url = git@github.com:romainl/Apprentice
[submodule "vim/pack/ALL/start/vim-fugitive"]
	path = vim/pack/start/start/fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "vim/pack/ALL/start/pgsql.vim"]
	path = vim/pack/start/start/pgsql.vim
	url = git@github.com:exu/pgsql.vim
[submodule "vim/pack/ALL/start/vim-repeat"]
	path = vim/pack/start/start/repeat
	url = git@github.com:tpope/vim-repeat
[submodule "vim/pack/ALL/start/ledger"]
	path = vim/pack/start/start/ledger
	url = git@github.com:ledger/vim-ledger
[submodule "vim/pack/ALL/start/traces"]
	path = vim/pack/start/start/traces
	url = git@github.com:markonm/traces.vim
[submodule "vim/pack/ALL/start/vim-characterize"]
	path = vim/pack/start/start/characterize
	url = git@github.com:tpope/vim-characterize
[submodule "vim/pack/ALL/start/editorconfig"]
	path = vim/pack/start/start/editorconfig
	url = git@github.com:chreekat/editorconfig-vim.git
	branch = local-changes
[submodule "vim/pack/ALL/start/passhole"]
	path = vim/pack/start/start/passhole
	url = git@github.com:chreekat/passhole
[submodule "vim/pack/ALL/start/elm-vim"]
	path = vim/pack/start/start/elm-vim
	url = git@github.com:ElmCast/elm-vim
[submodule "vim/pack/ALL/start/dhall-syntax"]
	path = vim/pack/start/start/dhall-syntax
	url = git@github.com:vmchale/dhall-vim
[submodule "vim/pack/ALL/start/speeddating"]
	path = vim/pack/start/start/speeddating
	url = git@github.com:tpope/vim-speeddating
[submodule "vim/pack/ALL/start/kotlin"]
	path = vim/pack/start/start/kotlin
	url = git@github.com:udalov/kotlin-vim.git
[submodule "vim/pack/ALL/start/gitgutter"]
	path = vim/pack/start/start/gitgutter
	url = git@github.com:airblade/vim-gitgutter
[submodule "vim/pack/ALL/start/markdown-devel"]
	path = vim/pack/start/start/markdown-devel
	url = git@github.com:tpope/vim-markdown
[submodule "vim/pack/start/start/purescript-vim"]
	path = vim/pack/start/start/purescript-vim
	url = git@github.com:raichoo/purescript-vim
[submodule "vim/pack/start/start/vim-dadbod"]
	path = vim/pack/start/start/vim-dadbod
	url = git@github.com:tpope/vim-dadbod.git
[submodule "vim/pack/start/start/vim-dadbod-ui"]
	path = vim/pack/start/start/vim-dadbod-ui
	url = git@github.com:kristijanhusak/vim-dadbod-ui.git
[submodule "vim/pack/start/start/vim-lsp"]
	path = vim/pack/start/start/vim-lsp
	url = git@github.com:prabirshrestha/vim-lsp.git
[submodule "vim/pack/start/start/papercolor-theme"]
	path = vim/pack/start/start/papercolor-theme
	url = git@github.com:NLKNguyen/papercolor-theme
[submodule "nixos/PragmataPro0.829"]
	path = nixos/nonfree-fonts
	url = git@git.sr.ht:~chreekat/nonfree-fonts
[submodule "vim/pack/start/start/coc.nvim"]
	path = vim/pack/start/start/coc.nvim
	url = https://github.com/neoclide/coc.nvim
