snippet work "Work section" b
<div class="workExp">
	<span class="employer">
		<a href="${2:employer_url}">${1:employer}</a>
	</span>
	<span class="role">$3</span>
	<span class="location">$4</span>
	<span class="dates">$5</span>
</div>
<ul>
	<li>
		$6
</ul>
endsnippet
