[Unit]
Description=Offlineimap timer
After=graphical.target

[Timer]
# Runs every ten minutes between 8am and 7pm on weekdays
OnCalendar = mon..fri *-*-* 8..19:0/10

[Install]
WantedBy=graphical.target
