macro index,pager <f2> "<change-folder>~/Mail/Personal/INBOX<enter>"

set folder            = $HOME/Mail/Barobo
set from              = "bryan@barobo.com"
set smtp_pass         = "`passgm barobo`"
set smtp_url          = smtps://bryan@barobo.com@smtp.gmail.com
macro index,pager A "<pipe-message>goobook add<enter><shell-escape>goobook reload<enter>" "add the sender address to Google contacts"
unmailboxes *
mailboxes +INBOX +drafts +sent +starred +trash +archive +@action +@waiting_for +recent
set spoolfile         = +INBOX

color status brightcolor8 color4
set status_format = "[BAROBO] $my_status_format"

macro index,pager o "<sync-mailbox><shell-escape>offlineimap -a Barobo -qf INBOX,@action<enter>" "run offlineimap to sync inbox"
