/* macro index,pager <f2> "<change-folder>~/snowdrift-mail/chreekat<enter>" */
alternates bryan.richter@gmail.com chreekat@gmail.com b@chreekat.net
set folder            = $HOME/Mail/Personal
set from              = "bryan.richter@gmail.com"
set smtp_pass         = "`passgm personal`"
set smtp_url          = smtps://bryan.richter@smtp.gmail.com
macro index,pager A "<pipe-message>goobook add<enter><shell-escape>goobook reload<enter>" "add the sender address to Google contacts"
set query_command = "echo; grep -i '\t.*'%s ~/.google_contacts"

unmailboxes *
mailboxes +INBOX +drafts +sent +starred +trash +archive +@action +@waiting_for +recent
set spoolfile         = +INBOX

color status brightcolor8 color2
set status_format = "[PERSONAL] $my_status_format"

macro index,pager o \
    "<sync-mailbox><shell-escape>offlineimap -a Personal -f INBOX,[Gmail]/Starred,snowdrift<enter>" "sync of inbox and starred"
macro index,pager O "<sync-mailbox><shell-escape>offlineimap -a Personal -f INBOX,[Gmail]/Starred,snowdrift,@waiting_for,recent<enter>" "long thorough sync"

macro index,pager gl <change-folder>+snowdrift<enter> " Go to snowdrift label"
